{% extends 'layout.html' %}

{% macro render_link(link) %}
	<li>
		<a class="newsstream-link {{ link.type | default("politics") }} rank-{{ link.rank | default("1") }}" href="{{ link.url }}">
			&nbsp;{{ link.title }}
		</a>&nbsp;
		<small>{{ link.url }}</small>
	</li>
{% endmacro %}

{% block title %}newsstream{% endblock %}

{% block content %}

	{% for type in types %}
	<div class="subheader {{ type.name }}">{{ type.name }}</div>
	{% endfor %}

	<div class="row">
		<div class="small-12 columns">
		{% if not links %}
			<h2>No links.</h2>
		{% else %}
			<h2>Today <small>{{ today }}</small></h2>
				<ul>
				{% for link in links %}
					{{ render_link(link) }}
				{% endfor %}
				</ul>
		{% endif %}
		</div>
	</div>

{% endblock %}

{% block footer %}
<br/><br/>
{% endblock %}
